.instructions {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
}

.bgVideo {
  height: 100%;
  width: 100%;
}

.modal {
  z-index: 5;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 630px;
  position: absolute;
  text-align: left;
  padding: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

p,
h3 {
  text-align: left;
  line-height: 24px;
}

.linkButton {
  justify-self: flex-end;
  align-self: center;
  bottom: 0;
  margin-bottom: auto;
}

label,
ol {
  text-align: left;
}

ol {
  line-height: 30px;
  counter-reset: li;
  list-style-position: outside;
}
ol li {
  margin-inline: 5px;
  padding: 5px 20px;
}

ol li span {
  vertical-align: middle;
}
