.tracker {
    color: white;
    background-color: rgba(75, 75, 75, 0.5);
    width: 200px;
    height: fit-content;
    position: fixed;
    right: 0;
    z-index: 3;
    margin: 20px;
    padding: 10px;
}

.tracker label {
    display: flex;
    align-self: flex-start;
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

ul li {
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
}

ul li svg {
    padding: 0 10px;
} 

