@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.App {
  text-align: center;
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  color: #1D2E8C;
}

.icon {
  margin: 0 5px;
}

.logo {
  display: flex;
  flex: 1;
  width: 500px;
  max-height: 100%;
  justify-content: center;
  align-self: center;
  object-fit: contain;
}

button {
  border: none;
  border-radius: 25px;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  background-color: #1D2E8C;
  color: white;
  width: 212px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.altButton {
  border: 2px solid #1D2E8C;
  background-color: white;
  color: #1D2E8C;
}