@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.App {
  text-align: center;
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, a {
  color: #1D2E8C;
}

.icon {
  margin: 0 5px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 25px;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  background-color: #1D2E8C;
  color: white;
  width: 212px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  border: 2px solid white;
  outline: 2px solid #AD71AE;
  outline-offset: 3px;
}

.altButton {
  border: 2px solid #1D2E8C;
  background-color: white;
  color: #1D2E8C;
}

.altButton:focus, .altButton:hover {
  border: 2px solid #1D2E8C;
  background-color: #F5F7FA;
}

.blindFilter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: black;
}

.aria-invisible {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px;  
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}